# MacOS
.DS_Store

iOSInjectionProject/

# JetBrains
.idea/

# Python
__pycache__/
.ipynb_checkpoints/

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Fleet
.fleet/

# specific
notebooks/*.py
tests/pytest.log
tests/benchmark.txt